<a href="https://colab.research.google.com/github/natthanich/BasicProg_DataViz65/blob/main/Project_BPDV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏° google drive 
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ path ‡πÉ‡∏ô google drive
import os
os.chdir('/content/drive/MyDrive/Project_BPDV65')

!pwd #‡πÄ‡∏ä‡πá‡∏Ñ paht ‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏•‡∏±‡∏á‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏≠‡∏¢‡∏π‡πà

/content/drive/MyDrive/Project_BPDV65

In [ ]:
!ls #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡πÑ‡∏ü‡∏•‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

opendata_eating_score_clean.csv  opendata_unittype_clean.csv
opendata_eating_score.csv	 opendata_unittype.csv
opendata_interest_clean.csv	 opendata_volume_listing_clean.csv
opendata_interest.csv		 opendata_volume_listing.csv
opendata_living_score_clean.csv  opendata_volume_listing_rent_clean.csv
opendata_living_score.csv	 opendata_volume_listing_rent.csv
opendata_project_clean.csv	 Residental_clean_Project.gsheet
opendata_project.csv		 Residental_Project_clean.csv
opendata_train_station.csv	 Residental_Project_clean.gsheet

# üîóOpen CSV file

In [ ]:
#open CSV file 
import pandas as pd

In [ ]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown number of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30

In [ ]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3) #master fild ‡∏°‡∏µ‡∏´‡∏•‡∏≤‡∏¢key ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡πÑ‡∏î‡πâ‡∏ó‡∏∏‡∏Å‡∏ï‡∏≤‡∏£‡∏≤‡∏á

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30

In [ ]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3) # ID =  key ‡∏Ç‡∏≠‡∏á‡πÑ‡∏ü‡∏•‡πå‡∏ô‡∏±‡πâ‡∏ô‡πÜ

(555, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,‡∏ä‡πâ‡∏≤‡∏á‡∏Ñ‡∏•‡∏≤‡∏ô,1006,MUEANG CHIANG MAI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,1005,Chiang Mai,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏á‡∏û‡∏≤‡∏á,3939,YAN NAWA,‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,‡∏â‡∏¥‡∏°‡∏û‡∏•‡∏µ,3826,TALING CHAN,‡∏ï‡∏•‡∏¥‡πà‡∏á‡∏ä‡∏±‡∏ô,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30

In [ ]:
opendata_living_score = pd.read_csv('opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

In [ ]:
opendata_interest = pd.read_csv('opendata_interest.csv')
print(opendata_interest.shape) 
opendata_interest.head(3) # ‡∏´‡∏•‡∏±‡∏Å

(1767, 12)

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,1185,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32,2022-09-30
1,369,2020,5,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555,2022-09-30
2,780,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432,2022-09-30

In [ ]:
opendata_volume_listing = pd.read_csv('opendata_volume_listing.csv')
print(opendata_volume_listing.shape) 
opendata_volume_listing.head(3) #‡∏´‡∏•‡∏±‡∏Å

(2212, 11)

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_sale,day
0,354,2021,6,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,643,2022-09-30
1,2058,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£,PHRA NAKHON,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,Twin house,19,2022-09-30
2,305,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏ß‡∏±‡∏á‡∏ó‡∏≠‡∏á‡∏´‡∏•‡∏≤‡∏á,WANG THONGLANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,279,2022-09-30

In [ ]:
opendata_volume_listing_rent = pd.read_csv('opendata_volume_listing_rent.csv')
print(opendata_volume_listing_rent.shape) 
opendata_volume_listing_rent.head(3) #‡∏´‡∏•‡∏±‡∏Å

(1919, 11)

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day
0,1841,2021,3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡∏ö‡∏≤‡∏á‡∏û‡∏•‡∏µ,BANG PHLI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,18,2022-09-30
1,416,2021,7,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏ö‡∏≤‡∏á‡∏Å‡∏≠‡∏Å‡∏ô‡πâ‡∏≠‡∏¢,BANGKOK NOI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,32,2022-09-30
2,1745,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤,YAN NAWA,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,11,2022-09-30

# üîóInformation from dataset

1. ‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏õ‡∏£‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ñ‡∏µ‡πà‡∏£‡∏∞‡∏´‡∏ß‡πà‡∏≤‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏ô‡πÉ‡∏à‡∏Ç‡∏≠‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏Å‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡∏Ç‡∏≤‡∏¢/‡πÄ‡∏ä‡πà‡∏≤
‡∏Ç‡∏≠‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£‡πÅ‡∏•‡∏∞‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•‡πÉ‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö google map 
2. ‡πÄ‡∏°‡∏∑‡∏≠‡∏Ñ‡∏•‡∏¥‡∏Å ‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡∏´‡∏ô‡∏∂‡πà‡∏á‡πÜ ‡πÅ‡∏•‡πâ‡∏ß‡∏à‡∏∞‡∏•‡∏¥‡∏á‡∏Ñ‡πå‡πÑ‡∏õ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢ ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô ‡πÅ‡∏•‡∏∞‡∏£‡∏≤‡∏Ñ‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏Ç‡∏≠‡∏á‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ô‡∏±‡πâ‡∏ô ‡πÜ

# üîóData Cleaning

## üìëopendata_project table

In [ ]:
opendata_project.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30
3,10281.0,project_13601,Baan Rungrawe,‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏∏‡πà‡∏á‡∏£‡∏∞‡∏ß‡∏µ,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2750000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2018-05-29 16:39:45,1970-01-02 07:00:00,2020-12-04 10:38:35,baania,https://baania.com/th/project/‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏∏‡πà‡∏á‡∏£‡∏∞‡∏ß‡∏µ-pro...,2022-09-30
4,6023.0,project_12398,Town Plus Ladprao 101,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡∏û‡∏•‡∏±‡∏™ ‡∏•‡∏≤‡∏î‡∏û‡∏£‡πâ‡∏≤‡∏ß 101,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",...,1.0,1.0,NaN,1.0,2017-12-08 10:34:05,1970-01-02 07:00:00,2021-07-13 11:30:08,baania,https://baania.com/th/project/‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡∏û‡∏•‡∏±‡∏™-‡∏•‡∏≤‡∏î‡∏û‡∏£‡πâ...,2022-09-30

### Select columns

In [ ]:
opendata_project.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå ‡πÑ‡∏´‡∏ô‡∏ö‡πâ‡∏≤‡∏á

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [ ]:
#‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
opendata_project = opendata_project[['project_id',  'name_en',  'propertytype_id',
       'propertytype_name_en', 'price_min','subdistrict_id', 'subdistrict_name_en',
       'neighborhood_id', 'neighborhood_name_en','latitude','longitude', 'district_id', 'district_name_en',
       'province_id', 'province_name_en','count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'facility_clubhouse','facility_fitness', 'facility_meeting', 
       'facility_park','facility_playground', 'facility_pool',
       'facility_security']]
opendata_project.head()

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,subdistrict_id,subdistrict_name_en,neighborhood_id,neighborhood_name_en,latitude,...,count_elevator_service,count_floor,count_parking,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,3912.0,SAM SEN NAI,B1161,THOTHOBO,13.786388,...,NaN,7.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0
1,project_15158,The Chill Village,3,Townhome,2450000.0,7643.0,KOENG,NaN,NaN,16.209059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,NaN,NaN,NaN,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,project_13601,Baan Rungrawe,1,Detached House,2750000.0,2636.0,SAKHU,NaN,NaN,8.096150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,project_12398,Town Plus Ladprao 101,3,Townhome,4600000.0,3857.0,KHLONG CHAN,B1073,LAT PHRAO 101,13.797585,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0

### Missing/Null Checking  
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
opendata_project.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                  True
subdistrict_id             True
subdistrict_name_en        True
neighborhood_id            True
neighborhood_name_en       True
latitude                  False
longitude                  True
district_id                True
district_name_en           True
province_id                True
province_name_en           True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

### Check data type

In [ ]:
opendata_project.dtypes #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

project_id                 object
name_en                    object
propertytype_id            object
propertytype_name_en       object
price_min                  object
subdistrict_id            float64
subdistrict_name_en        object
neighborhood_id            object
neighborhood_name_en       object
latitude                  float64
longitude                 float64
district_id               float64
district_name_en           object
province_id               float64
province_name_en           object
count_elevator             object
count_elevator_service     object
count_floor                object
count_parking              object
facility_clubhouse        float64
facility_fitness          float64
facility_meeting          float64
facility_park             float64
facility_playground       float64
facility_pool             float64
facility_security         float64
dtype: object

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡∏ó‡πà‡∏≤‡πÑ‡∏´‡∏£‡πà
A=len(opendata_project[opendata_project['price_min'].isnull()])
B=len(opendata_project[opendata_project['longitude'].isnull()])
C=len(opendata_project[opendata_project['neighborhood_id'].isnull()])
D=len(opendata_project[opendata_project['neighborhood_name_en'].isnull()])
E=len(opendata_project[opendata_project['subdistrict_id'].isnull()])
F=len(opendata_project[opendata_project['subdistrict_name_en'].isnull()])
G=len(opendata_project[opendata_project['district_id'].isnull()])
H=len(opendata_project[opendata_project['district_name_en'].isnull()])
I=len(opendata_project[opendata_project['province_id'].isnull()])
J=len(opendata_project[opendata_project['province_name_en'].isnull()])
L=len(opendata_project[opendata_project['count_elevator'].isnull()])
M=len(opendata_project[opendata_project['count_elevator_service'].isnull()])
N=len(opendata_project[opendata_project['count_floor'].isnull()])
O=len(opendata_project[opendata_project['count_parking'].isnull()])
P=len(opendata_project[opendata_project['facility_clubhouse'].isnull()])
Q=len(opendata_project[opendata_project['facility_fitness'].isnull()])
R=len(opendata_project[opendata_project['facility_meeting'].isnull()])
S=len(opendata_project[opendata_project['facility_park'].isnull()])
T=len(opendata_project[opendata_project['facility_playground'].isnull()])
U=len(opendata_project[opendata_project['facility_pool'].isnull()])
V=len(opendata_project[opendata_project['facility_security'].isnull()])

In [ ]:
opendata_project.shape #‡∏î‡∏π‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ó‡∏µ‡πà‡∏°‡∏µ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏à‡∏∞‡πÑ‡∏î‡πâ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ß‡πà‡∏≤‡∏à‡∏∞‡∏ï‡∏±‡∏î‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏¥‡πâ‡∏á‡∏´‡∏£‡∏∑‡∏≠ ‡∏à‡∏∞‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤

(23913, 26)

In [ ]:
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå price_min ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {A} ‡∏ï‡∏±‡∏ß') # dropna ‡∏°‡∏µ 109 ‡∏ï‡∏±‡∏ß ‡πÄ‡∏•‡∏¢‡∏•‡∏ö‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô null ‡∏ó‡∏¥‡πâ‡∏á ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏•‡∏ö ‡∏ô‡πâ‡∏≠‡∏¢‡∏Å‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏°‡∏µ ‡∏≠‡∏¢‡∏π‡πà‡∏°‡∏≤‡∏Å
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå longitude ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {B} ‡∏ï‡∏±‡∏ß') # dropna
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå neighborhood_id ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {C} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå neighborhood_name_en ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {D} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå subdistrict_id ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {E} ‡∏ï‡∏±‡∏ß') # dropna
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå subdistrict_name_en ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {F} ‡∏ï‡∏±‡∏ß') # dropna
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå district_id  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {G} ‡∏ï‡∏±‡∏ß') # dropna
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå district_name_en  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {H} ‡∏ï‡∏±‡∏ß') # dropna
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_id  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {I} ‡∏ï‡∏±‡∏ß') # dropna
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_name_en ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {J} ‡∏ï‡∏±‡∏ß') # dropna
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_elevator  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {L} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_elevator_service  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {M} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_floor  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {N} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_parking  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {O} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_clubhouse  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {P} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_fitness  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {Q} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_meeting  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {R} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_park  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {S} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_playground  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {T} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_pool  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {U} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_security  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {V} ‡∏ï‡∏±‡∏ß')

‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå price_min ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 109 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå longitude ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 6 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå neighborhood_id ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 4281 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå neighborhood_name_en ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 4280 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå subdistrict_id ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 23 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå subdistrict_name_en ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 17 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå district_id  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 12 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå district_name_en  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 11 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_id  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 10 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_name_en ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 12 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_elevator  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 22010 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_elevator_service  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 23301 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_floor  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 19169 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_parking  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 21893 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_clubhouse  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 17171 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_fitness  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 15027 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_meeting  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 21288 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_park  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 12120 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_playground  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 17780 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_pool  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 14198 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå facility_security  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 7514 ‡∏ï‡∏±‡∏ß

#### ‚á® dropna
‡∏ï‡∏±‡∏î‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏¥‡πâ‡∏á

In [ ]:
opendata_project = opendata_project.dropna(subset=['price_min','longitude','district_id','district_name_en','province_id','province_name_en','subdistrict_id'])

#### ‚á® fill Null
‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£ ‡∏´‡∏£‡∏∑‡∏≠‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç

In [ ]:
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #‡∏£‡∏´‡∏±‡∏™‡∏¢‡πà‡∏≤‡∏ô(neighborhood_id)  ‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ó‡∏µ‡πà‡∏°‡∏±‡∏ô‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô  Unknown
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå‡πÅ‡∏•‡∏∞‡∏ä‡∏±‡πâ‡∏ô
opendata_project['count_floor']  = opendata_project['count_floor'].fillna(1) #‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡∏Ç‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£  ‡∏à‡∏∞‡πÅ‡∏ó‡∏ô‡∏î‡πâ‡∏ß‡∏¢ 1 ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡πÉ‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏õ‡πá‡∏ô‡∏à‡∏£‡∏¥‡∏á ‡∏à‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏µ ‡∏ö‡πâ‡∏≤‡∏ô 0 ‡∏ä‡∏±‡πâ‡∏ô
opendata_project[['count_elevator','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_parking', 'count_elevator_service']].fillna(0) 
# ‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å // ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Å‡πá‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢‡πÄ‡∏ï‡∏¥‡∏° 0 
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
opendata_project.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                 False
subdistrict_id            False
subdistrict_name_en       False
neighborhood_id           False
neighborhood_name_en      False
latitude                  False
longitude                 False
district_id               False
district_name_en          False
province_id               False
province_name_en          False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

###  save data (‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡πÄ‡∏•‡πâ‡∏ß)

In [ ]:
#opendata_project.to_csv('opendata_project_clean.csv', index=False)

## üìëopendata_unittype table

In [ ]:
opendata_unittype.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30
3,37984,unittype_39281,project_17150,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,60.0,155.0,2490000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:17:47,2020-01-16 16:13:43,baania,https://baania.com/th/project/‡∏ö‡πâ‡∏≤‡∏ô‡∏û‡∏∏‡∏ó‡∏ò‡∏£‡∏±‡∏Å‡∏©‡∏≤-‡∏™‡∏≤...,2022-09-30
4,24488,unittype_14987,project_4759,Studio Floor 5,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,40.0,367000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:17,2020-10-14 01:01:21,baania,https://baania.com/th/project/‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏â‡∏±‡∏ï‡∏£‡∏•‡∏î‡∏≤-2-4...,2022-09-30

### Select columns

In [ ]:
opendata_unittype.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype', 'day'],
      dtype='object')

In [ ]:
#‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en',  'count_airconditioner','count_elevator', 'count_floor_internal', 
       'area_total_min_wa','area_usable_min','count_parking','count_room_bath', 'count_room_bed', 
       'count_room_dinning','count_room_guest', 'count_room_kitchen', 
       'count_room_living','count_room_maid', 'count_room_storage',
        'count_room_utility']]
opendata_unittype.head()

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,count_airconditioner,count_elevator,count_floor_internal,area_total_min_wa,area_usable_min,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,2,Condo,NaN,NaN,NaN,NaN,31.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,NaN,NaN,1.0,NaN,480.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unittype_18897,project_6287,Studio,2,Condo,NaN,NaN,NaN,NaN,27.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unittype_39281,project_17150,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,NaN,NaN,1.0,60.0,155.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unittype_14987,project_4759,Studio Floor 5,2,Condo,NaN,NaN,NaN,NaN,40.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Missing/Null Checking  
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
opendata_unittype.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
area_total_min_wa        True
area_usable_min          True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

### Check data type

In [ ]:
opendata_unittype.dtypes #‡∏î‡∏π‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

unittype_id              object
project_id               object
name_th                  object
propertytype_id           int64
propertytype_name_en     object
count_airconditioner    float64
count_elevator          float64
count_floor_internal    float64
area_total_min_wa       float64
area_usable_min         float64
count_parking           float64
count_room_bath         float64
count_room_bed          float64
count_room_dinning      float64
count_room_guest        float64
count_room_kitchen      float64
count_room_living       float64
count_room_maid         float64
count_room_storage      float64
count_room_utility      float64
dtype: object

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡∏ó‡πà‡∏≤‡πÑ‡∏´‡∏£‡πà
AA=len(opendata_unittype[opendata_unittype['name_th'].isnull()])
BB=len(opendata_unittype[opendata_unittype['count_airconditioner'].isnull()])
CC=len(opendata_unittype[opendata_unittype['area_total_min_wa'].isnull()])
DD=len(opendata_unittype[opendata_unittype['area_usable_min'].isnull()])
EE=len(opendata_unittype[opendata_unittype['count_elevator'].isnull()])
FF=len(opendata_unittype[opendata_unittype['count_floor_internal'].isnull()])
GG=len(opendata_unittype[opendata_unittype['count_parking'].isnull()])
HH=len(opendata_unittype[opendata_unittype['count_room_bath'].isnull()])
II=len(opendata_unittype[opendata_unittype['count_room_bed'].isnull()])
JJ=len(opendata_unittype[opendata_unittype['count_room_dinning'].isnull()])
KK=len(opendata_unittype[opendata_unittype['count_room_guest'].isnull()])
LL=len(opendata_unittype[opendata_unittype['count_room_kitchen'].isnull()])
MM=len(opendata_unittype[opendata_unittype['count_room_living'].isnull()])
NN=len(opendata_unittype[opendata_unittype['count_room_maid'].isnull()])
OO=len(opendata_unittype[opendata_unittype['count_room_storage'].isnull()])
PP=len(opendata_unittype[opendata_unittype['count_room_utility'].isnull()])

In [ ]:
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå name_th ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {AA} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_airconditioner ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {BB} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå area_total_min_wa  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {CC} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå area_usable_min  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {DD} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_elevator  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {EE} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_floor_internal  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {FF} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_parking  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {GG} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_bath  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {HH} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_bed  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {II} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_dinning ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {JJ} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_guest  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {KK} ‡∏ï‡∏±‡∏ß') 
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_kitchen  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {LL} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_living  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {MM} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_maid  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {NN} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_storage  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {OO} ‡∏ï‡∏±‡∏ß')
print(f'‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_utility  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {PP} ‡∏ï‡∏±‡∏ß')

‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå name_th ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 2 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_airconditioner ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 41605 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå area_total_min_wa  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 40018 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå area_usable_min  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 5732 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_elevator  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 43385 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_floor_internal  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 12984 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_parking  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 19212 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_bath  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 1478 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_bed  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 2008 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_dinning ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 29678 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_guest  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 30295 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_kitchen  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 22856 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_living  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 33243 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_maid  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 41290 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_storage  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 39278 ‡∏ï‡∏±‡∏ß
‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå count_room_utility  ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 42612 ‡∏ï‡∏±‡∏ß

#### ‚á® fill Null with real world Knownlege

In [ ]:
#fill NA with Text //‡πÄ‡∏õ‡πá‡∏ô ‡∏Ç‡πâ‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏° ‡πÑ‡∏°‡πà‡∏ï‡∏±‡∏î‡∏Å‡πá‡πÑ‡∏î‡πâ
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

In [ ]:
opendata_unittype.fillna(value={'area_total_min_wa':opendata_unittype['area_total_min_wa'].mean(),'area_usable_min':opendata_unittype['area_usable_min'].mean()},inplace = True) # ‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤ missing  ‡∏î‡πâ‡∏ß‡∏¢ ‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢

In [ ]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡πÉ‡∏ô‡∏ö‡πâ‡∏≤‡∏ô
opendata_unittype[['count_floor_internal']]  = opendata_unittype[['count_floor_internal']].fillna(1) 
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏≠‡∏£‡πå
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [ ]:
opendata_unittype.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
area_total_min_wa       False
area_usable_min         False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

### save data (‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡πÄ‡∏•‡πâ‡∏ß)

In [ ]:
#opendata_unittype.to_csv('opendata_unittype_clean.csv', index=False)

## üìëopendata_eating_score table

In [ ]:
opendata_eating_score.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,‡∏ä‡πâ‡∏≤‡∏á‡∏Ñ‡∏•‡∏≤‡∏ô,1006,MUEANG CHIANG MAI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,1005,Chiang Mai,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏á‡∏û‡∏≤‡∏á,3939,YAN NAWA,‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,‡∏â‡∏¥‡∏°‡∏û‡∏•‡∏µ,3826,TALING CHAN,‡∏ï‡∏•‡∏¥‡πà‡∏á‡∏ä‡∏±‡∏ô,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30
3,96,3503,BANG DUAN,‡∏ö‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏ô,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0,baania,2022-09-30
4,17,2624,RAWAI,‡∏£‡∏≤‡πÑ‡∏ß‡∏¢‡πå,2617,MUEANG PHUKET,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0,baania,2022-09-30

### Select columns

In [ ]:
opendata_eating_score.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [ ]:
#‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
opendata_eating_score = opendata_eating_score[['subdistrict_id', 'subdistrict_name_en',
       'district_id', 'district_name_en',
       'province_id', 'province_name_en',
       'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety']]
opendata_eating_score.head()

,subdistrict_id,subdistrict_name_en,district_id,district_name_en,province_id,province_name_en,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,1007,CHANG KHLAN,1006,MUEANG CHIANG MAI,1005,Chiang Mai,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0
1,3941,BANG PHONGPHANG,3939,YAN NAWA,3781,Bangkok,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0
2,3829,CHIMPHLI,3826,TALING CHAN,3781,Bangkok,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0
3,3503,BANG DUAN,3499,MUEANG SAMUT PRAKAN,3498,Samut Prakan,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0
4,2624,RAWAI,2617,MUEANG PHUKET,2616,Phuket,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0

### Missing/Null Checking  
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
opendata_eating_score.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

subdistrict_id              False
subdistrict_name_en         False
district_id                 False
district_name_en            False
province_id                 False
province_name_en            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

### Check data type

In [ ]:
opendata_eating_score.dtypes #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

subdistrict_id                int64
subdistrict_name_en          object
district_id                   int64
district_name_en             object
province_id                   int64
province_name_en             object
eating_daytime              float64
eating_daytime_price        float64
eating_daytime_quality      float64
eating_daytime_variety      float64
eating_nighttime            float64
eating_nighttime_price      float64
eating_nighttime_quality    float64
eating_nighttime_variety    float64
dtype: object

### save data (‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡πÄ‡∏•‡πâ‡∏ß)

In [ ]:
#opendata_eating_score.to_csv('opendata_eating_score_clean.csv', index=False)

## üìëopendata_living_score table

In [ ]:
opendata_living_score.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30
3,209,2647,BAN THUM,‡∏ö‡πâ‡∏≤‡∏ô‡∏ó‡∏∏‡πà‡∏°,2638,MUEANG KHON KAEN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,2637,Khon Kaen,‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,...,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0,baania,2022-09-30
4,615,3799,RAM INTHRA,‡∏£‡∏≤‡∏°‡∏≠‡∏¥‡∏ô‡∏ó‡∏£‡∏≤,3797,KHAN NA YAO,‡∏Ñ‡∏±‡∏ô‡∏ô‡∏≤‡∏¢‡∏≤‡∏ß,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,...,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0,baania,2022-09-30

### Select columns

In [ ]:
opendata_living_score.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day'],
      dtype='object')

In [ ]:
#‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
opendata_living_score = opendata_living_score[['subdistrict_id', 'subdistrict_name_en',
       'district_id', 'district_name_en','province_id', 'province_name_en','walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total','drive_total']]
opendata_living_score.head()

,subdistrict_id,subdistrict_name_en,district_id,district_name_en,province_id,province_name_en,walk_total,access_boat,access_bus,access_train,access_total,drive_total
0,3410,SANO LOI,3402,BANG BUA THONG,3372,Nonthaburi,99.0,98.0,100.0,1.0,79.0,100.0
1,3976,TALAT NOI,3973,SAMPHANTHAWONG,3781,Bangkok,100.0,100.0,100.0,100.0,100.0,99.0
2,4669,BAN KAO,4663,PHAN THONG,4616,Chon Buri,19.0,0.0,0.0,0.0,0.0,85.0
3,2647,BAN THUM,2638,MUEANG KHON KAEN,2637,Khon Kaen,18.0,0.0,0.0,0.0,0.0,62.0
4,3799,RAM INTHRA,3797,KHAN NA YAO,3781,Bangkok,95.0,1.0,94.0,5.0,39.0,89.0

### Missing/Null Checking  
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
opendata_living_score.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

subdistrict_id         False
subdistrict_name_en    False
district_id            False
district_name_en       False
province_id            False
province_name_en       False
walk_total             False
access_boat            False
access_bus             False
access_train           False
access_total           False
drive_total            False
dtype: bool

### Check data type

In [ ]:
opendata_living_score.dtypes  #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

subdistrict_id           int64
subdistrict_name_en     object
district_id              int64
district_name_en        object
province_id              int64
province_name_en        object
walk_total             float64
access_boat            float64
access_bus             float64
access_train           float64
access_total           float64
drive_total            float64
dtype: object

### save data (‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡πÄ‡∏•‡πâ‡∏ß)

In [ ]:
#opendata_living_score.to_csv('opendata_living_score_clean.csv', index=False)

## üìëopendata_interest table

In [ ]:
opendata_interest.head()

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,1185,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32,2022-09-30
1,369,2020,5,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555,2022-09-30
2,780,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432,2022-09-30
3,1765,2019,7,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡∏û‡∏£‡∏∞‡∏õ‡∏£‡∏∞‡πÅ‡∏î‡∏á,PHRA PRADAENG,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,11,28,2022-09-30
4,1104,2020,1,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,Pathum Thani,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,MUEANG PATHUM THANI,‡∏ö‡πâ‡∏≤‡∏ô,Detached House,210,1405,2022-09-30

### Select columns

In [ ]:
opendata_interest.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['row_number', 'transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest', 'day'],
      dtype='object')

In [ ]:
#‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
opendata_interest = opendata_interest[[ 'province_name_en', 'district_name_en',
       'propertytype_name_en','volume_of_project','interest']]
opendata_interest.head()

,province_name_en,district_name_en,propertytype_name_en,volume_of_project,interest
0,Bangkok,KHLONG TOEI,Townhome,19,32
1,Nonthaburi,MUEANG NONTHABURI,Townhome,81,555
2,Bangkok,HUAI KHWANG,Condo,120,432
3,Samut Prakan,PHRA PRADAENG,Townhome,11,28
4,Pathum Thani,MUEANG PATHUM THANI,Detached House,210,1405

### Missing/Null Checking  
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
opendata_interest.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

province_name_en        False
district_name_en        False
propertytype_name_en    False
volume_of_project       False
interest                False
dtype: bool

### Check data type

In [ ]:
opendata_interest.dtypes #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

province_name_en        object
district_name_en        object
propertytype_name_en    object
volume_of_project        int64
interest                 int64
dtype: object

### save data (‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡πÄ‡∏•‡πâ‡∏ß)

In [ ]:
#opendata_interest.to_csv('opendata_interest_clean.csv', index=False)

## üìëopendata_volume_listing table

In [ ]:
opendata_volume_listing.head()

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_sale,day
0,354,2021,6,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,643,2022-09-30
1,2058,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£,PHRA NAKHON,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,Twin house,19,2022-09-30
2,305,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏ß‡∏±‡∏á‡∏ó‡∏≠‡∏á‡∏´‡∏•‡∏≤‡∏á,WANG THONGLANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,279,2022-09-30
3,1831,2021,5,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡∏ö‡∏≤‡∏á‡∏û‡∏•‡∏µ,BANG PHLI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,24,2022-09-30
4,116,2021,5,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,472,2022-09-30

### Select columns

In [ ]:
opendata_volume_listing.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['row_number', 'transction_year', 'transction_month',
       'listing_province_name_th', 'listing_province_name_en',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_of_sale', 'day'],
      dtype='object')

In [ ]:
#‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
opendata_volume_listing = opendata_volume_listing[[ 'listing_province_name_en', 'listing_district_name_en',
       'project_propertytype_name_en','volume_of_sale']]
opendata_volume_listing.head()

,listing_province_name_en,listing_district_name_en,project_propertytype_name_en,volume_of_sale
0,SAMUT PRAKAN,MUEANG SAMUT PRAKAN,Condo,643
1,BANGKOK,PHRA NAKHON,Twin house,19
2,BANGKOK,WANG THONGLANG,Condo,279
3,SAMUT PRAKAN,BANG PHLI,Townhome,24
4,SAMUT PRAKAN,MUEANG SAMUT PRAKAN,Condo,472

### Missing/Null Checking  
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
opendata_volume_listing.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

listing_province_name_en        False
listing_district_name_en        False
project_propertytype_name_en    False
volume_of_sale                  False
dtype: bool

### Check data type

In [ ]:
opendata_volume_listing.dtypes  #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

listing_province_name_en        object
listing_district_name_en        object
project_propertytype_name_en    object
volume_of_sale                   int64
dtype: object

### save data (‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡πÄ‡∏•‡πâ‡∏ß)

In [ ]:
#opendata_volume_listing.to_csv('opendata_volume_listing_clean.csv', index=False)

## üìëopendata_volume_listing_rent table

In [ ]:
opendata_volume_listing_rent.head()

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day
0,1841,2021,3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡∏ö‡∏≤‡∏á‡∏û‡∏•‡∏µ,BANG PHLI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,18,2022-09-30
1,416,2021,7,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏ö‡∏≤‡∏á‡∏Å‡∏≠‡∏Å‡∏ô‡πâ‡∏≠‡∏¢,BANGKOK NOI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,32,2022-09-30
2,1745,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤,YAN NAWA,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,11,2022-09-30
3,1355,2021,10,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡∏ö‡∏≤‡∏á‡πÄ‡∏™‡∏≤‡∏ò‡∏á,BANG SAO THONG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,21,2022-09-30
4,1426,2021,6,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,NONTHABURI,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,BANG BUA THONG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,37,2022-09-30

### Select columns

In [ ]:
opendata_volume_listing_rent.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['row_number', 'transction_year', 'transction_month',
       'listing_province_name_th', 'listing_province_name_en',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_of_rental', 'day'],
      dtype='object')

In [ ]:
#‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
opendata_volume_listing_rent = opendata_volume_listing_rent[[ 'listing_province_name_en', 'listing_district_name_en',
       'project_propertytype_name_en','volume_of_rental']]
opendata_volume_listing_rent.head()

,listing_province_name_en,listing_district_name_en,project_propertytype_name_en,volume_of_rental
0,SAMUT PRAKAN,BANG PHLI,Townhome,18
1,BANGKOK,BANGKOK NOI,Condo,32
2,BANGKOK,YAN NAWA,Townhome,11
3,SAMUT PRAKAN,BANG SAO THONG,Condo,21
4,NONTHABURI,BANG BUA THONG,Condo,37

### Missing/Null Checking  
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
opendata_volume_listing_rent.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

listing_province_name_en        False
listing_district_name_en        False
project_propertytype_name_en    False
volume_of_rental                False
dtype: bool

### Check data type

In [ ]:
opendata_volume_listing_rent.dtypes  # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

listing_province_name_en        object
listing_district_name_en        object
project_propertytype_name_en    object
volume_of_rental                 int64
dtype: object

### save data (‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÄ‡πÄ‡∏•‡πâ‡∏ß)

In [ ]:
#opendata_volume_listing_rent.to_csv('opendata_volume_listing_rent_clean.csv', index=False)

# üîóMerge tables
‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
#‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡πÉ‡∏ä‡πâ‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà clean ‡πÅ‡∏•‡πâ‡∏ß
import pandas as pd
opendata_project_clean = pd.read_csv('opendata_project_clean.csv')
opendata_unittype_clean = pd.read_csv('opendata_unittype_clean.csv') 
opendata_eating_score_clean = pd.read_csv('opendata_eating_score_clean.csv')
opendata_living_score_clean = pd.read_csv('opendata_living_score_clean.csv') 
opendata_interest_clean = pd.read_csv('opendata_interest_clean.csv') 
opendata_volume_listing_clean = pd.read_csv('opendata_volume_listing_clean.csv') 
opendata_volume_listing_rent_clean = pd.read_csv('opendata_volume_listing_rent_clean.csv')

## 1] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_unittype_clean ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_project_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
opendata_unittype_clean.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÑ‡∏´‡∏ô‡∏ö‡πâ‡∏≤‡∏á

Index(['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'count_airconditioner', 'count_elevator',
       'count_floor_internal', 'area_total_min_wa', 'area_usable_min',
       'count_parking', 'count_room_bath', 'count_room_bed',
       'count_room_dinning', 'count_room_guest', 'count_room_kitchen',
       'count_room_living', 'count_room_maid', 'count_room_storage',
       'count_room_utility'],
      dtype='object')

In [ ]:
opendata_project_clean.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÑ‡∏´‡∏ô‡∏ö‡πâ‡∏≤‡∏á

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'subdistrict_id', 'subdistrict_name_en', 'neighborhood_id',
       'neighborhood_name_en', 'latitude', 'longitude', 'district_id',
       'district_name_en', 'province_id', 'province_name_en', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking',
       'facility_clubhouse', 'facility_fitness', 'facility_meeting',
       'facility_park', 'facility_playground', 'facility_pool',
       'facility_security'],
      dtype='object')

In [ ]:
# ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡∏à‡∏≤‡∏Å‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_unittype_clean
opendata_unittype_clean = opendata_unittype_clean[['unittype_id', 'project_id', 'name_th',
       'area_total_min_wa', 'area_usable_min', 'count_airconditioner', 'count_elevator', 
       'count_floor_internal', 'count_parking','count_room_bath', 'count_room_bed', 
       'count_room_dinning','count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype_clean.head(3)

,unittype_id,project_id,name_th,area_total_min_wa,area_usable_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,44.844835,31.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,44.844835,480.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,Studio,44.844835,27.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#‡∏û‡∏ö‡∏ß‡πà‡∏≤‡∏ä‡∏∑‡πà‡∏≠ columns ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô ‡πÅ‡∏ï‡πà‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡∏ï‡πà‡∏≤‡∏á‡∏Å‡∏±‡∏ô ‡πÄ‡∏•‡∏¢‡∏ï‡πâ‡∏≠‡∏á‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠
# count_parking
# count_elevator

#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ columns
opendata_unittype_clean.rename(columns={'count_parking': 'count_parking_unittype', 'count_elevator': 'count_elevator_unittype'}, inplace=True)
opendata_unittype_clean.head(3)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,unittype_id,project_id,name_th,area_total_min_wa,area_usable_min,count_airconditioner,count_elevator_unittype,count_floor_internal,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,44.844835,31.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,44.844835,480.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,Studio,44.844835,27.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á ‡∏≠‡∏¥‡∏á‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏≤‡∏á‡∏ã‡πâ‡∏≤‡∏¢‡∏°‡∏∑‡∏≠‡πÄ‡∏õ‡πá‡∏ô‡∏´‡∏•‡∏±‡∏Å
table_merge = opendata_project_clean.merge(opendata_unittype_clean, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)

(54680, 43)

#### Missing/Null Checking
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
table_merge.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

project_id                 False
name_en                    False
propertytype_id            False
propertytype_name_en       False
price_min                  False
subdistrict_id             False
subdistrict_name_en        False
neighborhood_id            False
neighborhood_name_en       False
latitude                   False
longitude                  False
district_id                False
district_name_en           False
province_id                False
province_name_en           False
count_elevator             False
count_elevator_service     False
count_floor                False
count_parking              False
facility_clubhouse         False
facility_fitness           False
facility_meeting           False
facility_park              False
facility_playground        False
facility_pool              False
facility_security          False
unittype_id                False
name_th                    False
area_total_min_wa          False
area_usable_min            False
count_airconditioner       False
count_elevator_unittype    False
count_floor_internal       False
count_parking_unittype     False
count_room_bath            False
count_room_bed             False
count_room_dinning         False
count_room_guest           False
count_room_kitchen         False
count_room_living          False
count_room_maid            False
count_room_storage         False
count_room_utility         False
dtype: bool

### Check data type

In [ ]:
table_merge.dtypes  # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

project_id                  object
name_en                     object
propertytype_id              int64
propertytype_name_en        object
price_min                  float64
subdistrict_id             float64
subdistrict_name_en         object
neighborhood_id             object
neighborhood_name_en        object
latitude                   float64
longitude                  float64
district_id                float64
district_name_en            object
province_id                float64
province_name_en            object
count_elevator             float64
count_elevator_service     float64
count_floor                float64
count_parking              float64
facility_clubhouse         float64
facility_fitness           float64
facility_meeting           float64
facility_park              float64
facility_playground        float64
facility_pool              float64
facility_security          float64
unittype_id                 object
name_th                     object
area_total_min_wa          float64
area_usable_min            float64
count_airconditioner       float64
count_elevator_unittype    float64
count_floor_internal       float64
count_parking_unittype     float64
count_room_bath            float64
count_room_bed             float64
count_room_dinning         float64
count_room_guest           float64
count_room_kitchen         float64
count_room_living          float64
count_room_maid            float64
count_room_storage         float64
count_room_utility         float64
dtype: object

In [ ]:
table_merge

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,subdistrict_id,subdistrict_name_en,neighborhood_id,neighborhood_name_en,latitude,...,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,3912.0,SAM SEN NAI,B1161,THOTHOBO,13.786388,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,3912.0,SAM SEN NAI,B1161,THOTHOBO,13.786388,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,project_15158,The Chill Village,3,Townhome,2450000.0,7643.0,KOENG,Unknown,Unknown,16.209059,...,2.0,2.0,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
3,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,2.0,3.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,2.0,3.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54675,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,2.0,3.0,3.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
54676,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,2.0,3.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
54677,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,2.0,3.0,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
54678,project_7949,The Tropical Condominium,2,Condo,999000.0,3970.0,SUAN LUANG,B1049,ON NUT,13.707605,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54679,project_7949,The Tropical Condominium,2,Condo,999000.0,3970.0,SUAN LUANG,B1049,ON NUT,13.707605,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##  2] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_eating_score_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
table_merge.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'subdistrict_id', 'subdistrict_name_en', 'neighborhood_id',
       'neighborhood_name_en', 'latitude', 'longitude', 'district_id',
       'district_name_en', 'province_id', 'province_name_en', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking',
       'facility_clubhouse', 'facility_fitness', 'facility_meeting',
       'facility_park', 'facility_playground', 'facility_pool',
       'facility_security', 'unittype_id', 'name_th', 'area_total_min_wa',
       'area_usable_min', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility'],
      dtype='object')

In [ ]:
opendata_eating_score_clean.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['subdistrict_id', 'subdistrict_name_en', 'district_id',
       'district_name_en', 'province_id', 'province_name_en', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [ ]:
# ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡∏à‡∏≤‡∏Å‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_eating_score_clean
opendata_eating_score_clean = opendata_eating_score_clean[['subdistrict_id','district_id','province_id', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality','eating_daytime_variety', 'eating_nighttime', 
       'eating_nighttime_price', 'eating_nighttime_quality', 'eating_nighttime_variety']]
opendata_eating_score_clean.head(3)

,subdistrict_id,district_id,province_id,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,1007,1006,1005,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0
1,3941,3939,3781,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0
2,3829,3826,3781,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0

In [ ]:
len(set(opendata_eating_score_clean['province_id'])) # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏î‡∏π‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_eating_score_clean //Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

10

In [ ]:
len(set(table_merge['province_id']))# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏î‡∏π‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge // Location scope - All  // ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏Å‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏Ç‡∏≠‡∏á 2 ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡πÑ‡∏°‡πà‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô ‡∏à‡∏∂‡∏á‡∏à‡∏∞‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏ô ‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á

72

In [ ]:
# ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á   // 'subdistrict_id','district_id','province_id' ‡πÉ‡∏ä‡πâ 3  key ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô‡∏Å‡∏£‡∏ì‡∏µ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£ ‡πÅ‡∏•‡πâ‡∏ß‡∏°‡∏±‡∏ô‡∏°‡∏µ‡πÇ‡∏≠‡∏Å‡∏≤‡∏™‡∏ó‡∏µ‡πà‡∏ä‡∏∑‡πà‡∏≠‡∏ï‡∏≥‡∏ö‡∏•/‡πÄ‡∏Ç‡∏ï ‡∏à‡∏∞‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô ‡πÄ‡∏•‡∏¢‡πÄ‡∏≠‡∏≤‡∏°‡∏≤ 3 key
# ‡πÅ‡∏ï‡πà‡πÉ‡∏ô‡∏Å‡∏£‡∏ì‡∏µ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô ‡∏£‡∏´‡∏±‡∏™ ‡πÉ‡∏ä‡πâ‡πÄ‡πÄ‡∏Ñ‡πà‡∏≠‡∏±‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡πá‡πÑ‡∏î‡πâ ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô
table_merge2 = table_merge.merge(opendata_eating_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id'], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge2.shape)

(54680, 51)

#### Missing/Null Checking
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
table_merge2.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
subdistrict_id              False
subdistrict_name_en         False
neighborhood_id             False
neighborhood_name_en        False
latitude                    False
longitude                   False
district_id                 False
district_name_en            False
province_id                 False
province_name_en            False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
area_total_min_wa           False
area_usable_min             False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime               True
eating_daytime_price         True
eating_daytime_quality       True
eating_daytime_variety       True
eating_nighttime             True
eating_nighttime_price       True
eating_nighttime_quality     True
eating_nighttime_variety     True
dtype: bool

### Check data type

In [ ]:
table_merge2.dtypes  # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

project_id                   object
name_en                      object
propertytype_id               int64
propertytype_name_en         object
price_min                   float64
subdistrict_id              float64
subdistrict_name_en          object
neighborhood_id              object
neighborhood_name_en         object
latitude                    float64
longitude                   float64
district_id                 float64
district_name_en             object
province_id                 float64
province_name_en             object
count_elevator              float64
count_elevator_service      float64
count_floor                 float64
count_parking               float64
facility_clubhouse          float64
facility_fitness            float64
facility_meeting            float64
facility_park               float64
facility_playground         float64
facility_pool               float64
facility_security           float64
unittype_id                  object
name_th                      object
area_total_min_wa           float64
area_usable_min             float64
count_airconditioner        float64
count_elevator_unittype     float64
count_floor_internal        float64
count_parking_unittype      float64
count_room_bath             float64
count_room_bed              float64
count_room_dinning          float64
count_room_guest            float64
count_room_kitchen          float64
count_room_living           float64
count_room_maid             float64
count_room_storage          float64
count_room_utility          float64
eating_daytime              float64
eating_daytime_price        float64
eating_daytime_quality      float64
eating_daytime_variety      float64
eating_nighttime            float64
eating_nighttime_price      float64
eating_nighttime_quality    float64
eating_nighttime_variety    float64
dtype: object

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå
print(len(table_merge2[table_merge2['eating_daytime'].isnull()]))  #check missing 
print(len(table_merge2[table_merge2['eating_nighttime'].isnull()]))

11213
11213

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
len(table_merge2) #‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏°‡∏µ‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏Ñ‡πà‡∏≠‡∏ô‡∏Ç‡πâ‡∏≤‡∏á‡∏ó‡∏µ‡πà‡∏à‡∏∞‡∏°‡∏≤‡∏Å ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ó‡∏µ‡πà‡∏°‡∏µ

54680

#### ‚á® fill Null with 0
‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢ 0 ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏ß‡πà‡∏≤‡∏ô‡πà‡∏≤‡∏à‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏£‡∏∞‡∏ö‡∏∏‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ

In [ ]:
table_merge2 = table_merge2.fillna(0)  #‡πÄ‡∏ï‡∏¥‡∏°‡∏ó‡∏∏‡∏Å‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á ‡πÄ‡∏õ‡πá‡∏ô 0

In [ ]:
table_merge2.isnull().any() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏£‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
subdistrict_id              False
subdistrict_name_en         False
neighborhood_id             False
neighborhood_name_en        False
latitude                    False
longitude                   False
district_id                 False
district_name_en            False
province_id                 False
province_name_en            False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
area_total_min_wa           False
area_usable_min             False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [ ]:
table_merge2

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,subdistrict_id,subdistrict_name_en,neighborhood_id,neighborhood_name_en,latitude,...,count_room_storage,count_room_utility,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,3912.0,SAM SEN NAI,B1161,THOTHOBO,13.786388,...,0.0,0.0,74.0,74.0,64.0,94.0,78.0,75.0,61.0,91.0
1,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,3912.0,SAM SEN NAI,B1161,THOTHOBO,13.786388,...,0.0,0.0,74.0,74.0,64.0,94.0,78.0,75.0,61.0,91.0
2,project_15158,The Chill Village,3,Townhome,2450000.0,7643.0,KOENG,Unknown,Unknown,16.209059,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,0.0,0.0,51.0,37.0,53.0,70.0,56.0,21.0,53.0,77.0
4,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,0.0,0.0,51.0,37.0,53.0,70.0,56.0,21.0,53.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54675,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,0.0,0.0,51.0,47.0,40.0,83.0,55.0,43.0,22.0,85.0
54676,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,0.0,0.0,51.0,47.0,40.0,83.0,55.0,43.0,22.0,85.0
54677,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,0.0,0.0,51.0,47.0,40.0,83.0,55.0,43.0,22.0,85.0
54678,project_7949,The Tropical Condominium,2,Condo,999000.0,3970.0,SUAN LUANG,B1049,ON NUT,13.707605,...,0.0,0.0,67.0,78.0,50.0,87.0,72.0,73.0,49.0,87.0
54679,project_7949,The Tropical Condominium,2,Condo,999000.0,3970.0,SUAN LUANG,B1049,ON NUT,13.707605,...,0.0,0.0,67.0,78.0,50.0,87.0,72.0,73.0,49.0,87.0

##  3] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge2 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_living_score_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
table_merge2.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'subdistrict_id', 'subdistrict_name_en', 'neighborhood_id',
       'neighborhood_name_en', 'latitude', 'longitude', 'district_id',
       'district_name_en', 'province_id', 'province_name_en', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking',
       'facility_clubhouse', 'facility_fitness', 'facility_meeting',
       'facility_park', 'facility_playground', 'facility_pool',
       'facility_security', 'unittype_id', 'name_th', 'area_total_min_wa',
       'area_usable_min', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [ ]:
opendata_living_score_clean.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['subdistrict_id', 'subdistrict_name_en', 'district_id',
       'district_name_en', 'province_id', 'province_name_en', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_total'],
      dtype='object')

In [ ]:
# ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡∏à‡∏≤‡∏Å‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_living_score_clean 
opendata_living_score_clean = opendata_living_score_clean[['subdistrict_id','district_id','province_id', 
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total','drive_total']]
opendata_living_score_clean.head(3)

,subdistrict_id,district_id,province_id,walk_total,access_boat,access_bus,access_train,access_total,drive_total
0,3410,3402,3372,99.0,98.0,100.0,1.0,79.0,100.0
1,3976,3973,3781,100.0,100.0,100.0,100.0,100.0,99.0
2,4669,4663,4616,19.0,0.0,0.0,0.0,0.0,85.0

In [ ]:
len(set(opendata_living_score_clean['province_id'])) # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏î‡∏π‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_living_score_clean //Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

18

In [ ]:
len(set(table_merge2['province_id'])) #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏î‡∏π‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge2 // Location scope - All // ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡∏ó‡∏±‡πâ‡∏á‡∏™‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏°‡∏µ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡πÑ‡∏°‡πà‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô ‡∏à‡∏∂‡∏á‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

72

In [ ]:
# ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á
table_merge3 = table_merge2.merge(opendata_living_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge3.shape)

(54680, 57)

#### Missing/Null Checking
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
table_merge3.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
subdistrict_id              False
subdistrict_name_en         False
neighborhood_id             False
neighborhood_name_en        False
latitude                    False
longitude                   False
district_id                 False
district_name_en            False
province_id                 False
province_name_en            False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
area_total_min_wa           False
area_usable_min             False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
walk_total                   True
access_boat                  True
access_bus                   True
access_train                 True
access_total                 True
drive_total                  True
dtype: bool

### Check data type

In [ ]:
table_merge3.dtypes # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

project_id                   object
name_en                      object
propertytype_id               int64
propertytype_name_en         object
price_min                   float64
subdistrict_id              float64
subdistrict_name_en          object
neighborhood_id              object
neighborhood_name_en         object
latitude                    float64
longitude                   float64
district_id                 float64
district_name_en             object
province_id                 float64
province_name_en             object
count_elevator              float64
count_elevator_service      float64
count_floor                 float64
count_parking               float64
facility_clubhouse          float64
facility_fitness            float64
facility_meeting            float64
facility_park               float64
facility_playground         float64
facility_pool               float64
facility_security           float64
unittype_id                  object
name_th                      object
area_total_min_wa           float64
area_usable_min             float64
count_airconditioner        float64
count_elevator_unittype     float64
count_floor_internal        float64
count_parking_unittype      float64
count_room_bath             float64
count_room_bed              float64
count_room_dinning          float64
count_room_guest            float64
count_room_kitchen          float64
count_room_living           float64
count_room_maid             float64
count_room_storage          float64
count_room_utility          float64
eating_daytime              float64
eating_daytime_price        float64
eating_daytime_quality      float64
eating_daytime_variety      float64
eating_nighttime            float64
eating_nighttime_price      float64
eating_nighttime_quality    float64
eating_nighttime_variety    float64
walk_total                  float64
access_boat                 float64
access_bus                  float64
access_train                float64
access_total                float64
drive_total                 float64
dtype: object

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå
print(len(table_merge3[table_merge3['walk_total'].isnull()])) 
print(len(table_merge3[table_merge3['access_boat'].isnull()]))

5381
5381

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
len(table_merge3) #‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏°‡∏µ‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏Ñ‡πà‡∏≠‡∏ô‡∏Ç‡πâ‡∏≤‡∏á‡∏ô‡πâ‡∏≠‡∏¢ ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ó‡∏µ‡πà‡∏°‡∏µ

54680

#### ‚á® dropna
‡∏ï‡∏±‡∏î‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏ó‡∏¥‡πâ‡∏á ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏ô‡πâ‡∏≠‡∏¢‡πÄ‡∏°‡∏∑‡πà‡∏≠‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

In [ ]:
table_merge3 = table_merge3.dropna(subset=['walk_total', 'access_boat', 'access_bus', 
       'access_train','access_total','drive_total'])

In [ ]:
table_merge3.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
subdistrict_id              False
subdistrict_name_en         False
neighborhood_id             False
neighborhood_name_en        False
latitude                    False
longitude                   False
district_id                 False
district_name_en            False
province_id                 False
province_name_en            False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
area_total_min_wa           False
area_usable_min             False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
walk_total                  False
access_boat                 False
access_bus                  False
access_train                False
access_total                False
drive_total                 False
dtype: bool

In [ ]:
table_merge3

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,subdistrict_id,subdistrict_name_en,neighborhood_id,neighborhood_name_en,latitude,...,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,walk_total,access_boat,access_bus,access_train,access_total,drive_total
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,3912.0,SAM SEN NAI,B1161,THOTHOBO,13.786388,...,78.0,75.0,61.0,91.0,98.0,100.0,100.0,44.0,89.0,98.0
1,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,3912.0,SAM SEN NAI,B1161,THOTHOBO,13.786388,...,78.0,75.0,61.0,91.0,98.0,100.0,100.0,44.0,89.0,98.0
3,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,56.0,21.0,53.0,77.0,22.0,0.0,0.0,0.0,0.0,78.0
4,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,56.0,21.0,53.0,77.0,22.0,0.0,0.0,0.0,0.0,78.0
5,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,4701.0,BANG PHRA,B0752,NA PHRAO,13.173645,...,56.0,21.0,53.0,77.0,22.0,0.0,0.0,0.0,0.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54675,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,55.0,43.0,22.0,85.0,95.0,0.0,100.0,0.0,40.0,100.0
54676,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,55.0,43.0,22.0,85.0,95.0,0.0,100.0,0.0,40.0,100.0
54677,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,3627.0,PRACHA THIPAT,B0967,FUTURE PARK RUNGSIT,13.993865,...,55.0,43.0,22.0,85.0,95.0,0.0,100.0,0.0,40.0,100.0
54678,project_7949,The Tropical Condominium,2,Condo,999000.0,3970.0,SUAN LUANG,B1049,ON NUT,13.707605,...,72.0,73.0,49.0,87.0,93.0,87.0,92.0,39.0,80.0,88.0
54679,project_7949,The Tropical Condominium,2,Condo,999000.0,3970.0,SUAN LUANG,B1049,ON NUT,13.707605,...,72.0,73.0,49.0,87.0,93.0,87.0,92.0,39.0,80.0,88.0

##  4] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge3 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_interest_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
table_merge3.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'subdistrict_id', 'subdistrict_name_en', 'neighborhood_id',
       'neighborhood_name_en', 'latitude', 'longitude', 'district_id',
       'district_name_en', 'province_id', 'province_name_en', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking',
       'facility_clubhouse', 'facility_fitness', 'facility_meeting',
       'facility_park', 'facility_playground', 'facility_pool',
       'facility_security', 'unittype_id', 'name_th', 'area_total_min_wa',
       'area_usable_min', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_total'],
      dtype='object')

In [ ]:
opendata_interest_clean.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

Index(['province_name_en', 'district_name_en', 'propertytype_name_en',
       'volume_of_project', 'interest'],
      dtype='object')

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á key ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ  'province_name_en','district_name_en','propertytype_name_en' // ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ key ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÉ‡∏´‡πâ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡πÑ‡∏î‡πâ‡∏´‡∏•‡∏≤‡∏¢‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö
opendata_interest_clean[(opendata_interest_clean['province_name_en']=='Bangkok') & (opendata_interest_clean['district_name_en']=='BANG BON')& (opendata_interest_clean['propertytype_name_en']=='Condo')].head(20)

,province_name_en,district_name_en,propertytype_name_en,volume_of_project,interest
1025,Bangkok,BANG BON,Condo,35,201
1714,Bangkok,BANG BON,Condo,5,38

In [ ]:
# ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏•‡πà‡∏∏‡∏°‡πÇ‡∏î‡∏¢ 'province_name_en','district_name_en','propertytype_name_en' ‡πÅ‡∏•‡πâ‡∏ß‡∏´‡∏≤‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏Ç‡∏≠‡∏á  interest ‡πÅ‡∏•‡∏∞ volume_of_project  // ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ó‡∏µ‡πà‡∏à‡∏∞‡πÉ‡∏´‡πâ key  ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á ‡∏°‡∏µ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏≠‡∏Å‡∏•‡∏±‡∏Å‡∏©‡∏ì‡πå‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏•‡∏î‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
opendata_interest_clean = opendata_interest_clean.groupby(['province_name_en','district_name_en','propertytype_name_en'])[['interest','volume_of_project']].sum()
opendata_interest_clean = opendata_interest_clean.reset_index()
opendata_interest_clean

,province_name_en,district_name_en,propertytype_name_en,interest,volume_of_project
0,Bangkok,BANG BON,Condo,239,40
1,Bangkok,BANG BON,Detached House,1447,162
2,Bangkok,BANG BON,Home office,113,40
3,Bangkok,BANG BON,Townhome,1831,319
4,Bangkok,BANG BON,Twin house,23,11
...,...,...,...,...,...
311,Samut Prakan,PHRA SAMUT CHEDI,Commercial,3787,88
312,Samut Prakan,PHRA SAMUT CHEDI,Condo,71,37
313,Samut Prakan,PHRA SAMUT CHEDI,Detached House,6254,570
314,Samut Prakan,PHRA SAMUT CHEDI,Townhome,30158,1749
315,Samut Prakan,PHRA SAMUT CHEDI,Twin house,10879,646

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡∏¢‡∏±‡∏á‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏ç‡∏π‡πà‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà //  ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡πÄ‡πÄ‡∏ï‡πà‡∏•‡∏∞‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î /‡πÄ‡∏Ç‡∏ï / ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÉ‡∏î‡πÜ ‡∏à‡∏∞‡πÉ‡∏´‡πâ‡∏Ñ‡πà‡∏≤‡πÄ‡πÄ‡∏Ñ‡πà‡∏Ñ‡πà‡∏≤‡πÄ‡∏î‡∏µ‡∏¢‡∏ß
opendata_interest_clean.head(20)

In [ ]:
# ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á   // 'province_name_en', 'district_name_en','propertytype_name_en' ‡πÉ‡∏ä‡πâ 3  key ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô‡∏Å‡∏£‡∏ì‡∏µ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£ ‡πÅ‡∏•‡πâ‡∏ß‡∏°‡∏±‡∏ô‡∏°‡∏µ‡πÇ‡∏≠‡∏Å‡∏≤‡∏™‡∏ó‡∏µ‡πà‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î/‡πÄ‡∏Ç‡∏ï ‡∏à‡∏∞‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô ‡πÄ‡∏•‡∏¢‡πÄ‡∏≠‡∏≤‡∏°‡∏≤ 3 key
table_merge4 = table_merge3.merge(opendata_interest_clean, how ='left', left_on=['province_name_en', 'district_name_en','propertytype_name_en'], right_on=['province_name_en', 'district_name_en','propertytype_name_en']) 
print(table_merge4.shape)

#### Missing/Null Checking
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
table_merge4.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

### Check data type

In [ ]:
table_merge4.dtypes # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå
print(len(table_merge4[table_merge4['volume_of_project'].isnull()])) 
print(len(table_merge4[table_merge4['interest'].isnull()]))

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
len(table_merge4) #‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏°‡∏µ‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏Ñ‡πà‡∏≠‡∏ô‡∏Ç‡πâ‡∏≤‡∏á‡πÄ‡∏¢‡∏≠‡∏∞ ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ó‡∏µ‡πà‡∏°‡∏µ

#### ‚á® fill Null with 0
‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢ 0 ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏ß‡πà‡∏≤‡∏ô‡πà‡∏≤‡∏à‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏£‡∏∞‡∏ö‡∏∏ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ôPageview ‡∏ó‡∏µ‡πà‡πÄ‡∏Ç‡πâ‡∏≤‡∏°‡∏≤‡∏î‡∏π ‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà

In [ ]:
table_merge4 = table_merge4.fillna(0) #‡πÄ‡∏ï‡∏¥‡∏°‡∏ó‡∏∏‡∏Å‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á ‡πÄ‡∏õ‡πá‡∏ô 0

In [ ]:
table_merge4.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

In [ ]:
table_merge4

##  5] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge4 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_volume_listing_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
table_merge4.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

In [ ]:
opendata_volume_listing_clean.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á // ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_volume_listing_clean ‡πÅ‡∏ï‡∏Å‡∏ï‡πà‡∏≤‡∏á‡∏à‡∏≤‡∏Å table_merge4 ‡∏ó‡∏±‡πâ‡∏á‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô

In [ ]:
#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ columns ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_volume_listing_clean ‡πÉ‡∏´‡πâ‡∏°‡∏µ‡∏ä‡∏∑‡πà‡πà‡∏≠‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ö‡∏ä‡∏∑‡πà‡∏≠ ‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge4 ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÑ‡∏°‡πà‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á
opendata_volume_listing_clean.rename(columns={'listing_province_name_en': 'province_name_en', 'listing_district_name_en': 'district_name_en','project_propertytype_name_en':'propertytype_name_en'}, inplace=True)
opendata_volume_listing_clean.head(3)

In [ ]:
table_merge4.province_name_en.unique() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge4

In [ ]:
opendata_volume_listing_clean.province_name_en.unique() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_volume_listing_clean ‡∏ã‡∏∂‡πà‡∏á‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á 2 ‡∏ï‡∏≤‡∏£‡∏≤‡∏á ‡∏°‡∏µ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ó‡∏µ‡πà‡∏ï‡πà‡∏≤‡∏á‡∏Å‡∏±‡∏ô‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÑ‡∏°‡πà‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏£‡∏ß‡∏°‡∏Å‡∏±‡∏ô‡πÑ‡∏î‡πâ ‡∏ñ‡∏∂‡∏á‡πÄ‡πÄ‡∏°‡πâ‡∏ß‡πà‡∏≤‡∏à‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ô

In [ ]:
#‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á  opendata_volume_listing_clean ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_name_en ‡πÉ‡∏´‡πâ‡∏°‡∏µ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡∏±‡∏ô‡∏Å‡∏±‡∏ö‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge4 ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_name_en 
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] == 'SAMUT PRAKAN','province_name_en'] ='Samut Prakan'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] == 'BANGKOK','province_name_en'] ='Bangkok'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] == 'PATHUM THANI','province_name_en'] ='Pathum Thani'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] == 'NONTHABURI','province_name_en'] ='Nonthaburi'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] == 'NAKHON PATHOM','province_name_en'] ='Nakhon Pathom'

In [ ]:
#check ‡∏ß‡πà‡∏≤‡∏°‡∏µ ‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î/‡πÄ‡∏Ç‡∏ï/‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô‡πÄ‡∏¢‡∏≠‡∏∞‡∏°‡∏±‡πâ‡∏¢
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á key ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ  'province_name_en','district_name_en','propertytype_name_en' // ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ key ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÉ‡∏´‡πâ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡πÑ‡∏î‡πâ‡∏´‡∏•‡∏≤‡∏¢‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö
opendata_volume_listing_clean[(opendata_volume_listing_clean['province_name_en']=='Samut Prakan') & (opendata_volume_listing_clean['district_name_en']=='MUEANG SAMUT PRAKAN')& (opendata_volume_listing_clean['propertytype_name_en']=='Condo')].head(20)

In [ ]:
# ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏•‡πà‡∏∏‡∏°‡πÇ‡∏î‡∏¢ 'province_name_en','district_name_en','propertytype_name_en'  ‡πÅ‡∏•‡πâ‡∏ß‡∏´‡∏≤‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏Ç‡∏≠‡∏á  volume_of_sale // ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ó‡∏µ‡πà‡∏à‡∏∞‡πÉ‡∏´‡πâ key  ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á ‡∏°‡∏µ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏≠‡∏Å‡∏•‡∏±‡∏Å‡∏©‡∏ì‡πå‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏•‡∏î‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
opendata_volume_listing_clean = opendata_volume_listing_clean.groupby(['province_name_en','district_name_en','propertytype_name_en'])[['volume_of_sale']].sum()
opendata_volume_listing_clean = opendata_volume_listing_clean.reset_index()
opendata_volume_listing_clean

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡∏¢‡∏±‡∏á‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏¢‡∏π‡πà‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà //  ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡πÄ‡πÄ‡∏ï‡πà‡∏•‡∏∞‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î /‡πÄ‡∏Ç‡∏ï / ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÉ‡∏î‡πÜ ‡∏à‡∏∞‡πÉ‡∏´‡πâ‡∏Ñ‡πà‡∏≤‡πÄ‡πÄ‡∏Ñ‡πà‡∏Ñ‡πà‡∏≤‡πÄ‡∏î‡∏µ‡∏¢‡∏ß
opendata_volume_listing_clean.head(20)

In [ ]:
# ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á   // 'province_name_en', 'district_name_en','propertytype_name_en' ‡πÉ‡∏ä‡πâ 3  key ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô‡∏Å‡∏£‡∏ì‡∏µ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£ ‡πÅ‡∏•‡πâ‡∏ß‡∏°‡∏±‡∏ô‡∏°‡∏µ‡πÇ‡∏≠‡∏Å‡∏≤‡∏™‡∏ó‡∏µ‡πà‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î/‡πÄ‡∏Ç‡∏ï ‡∏à‡∏∞‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô ‡πÄ‡∏•‡∏¢‡πÄ‡∏≠‡∏≤‡∏°‡∏≤ 3 key
table_merge5 = table_merge4.merge(opendata_volume_listing_clean, how ='left', left_on=['province_name_en', 'district_name_en','propertytype_name_en'], right_on=['province_name_en', 'district_name_en','propertytype_name_en']) 
print(table_merge5.shape)

#### Missing/Null Checking
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
table_merge5.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

### Check data type

In [ ]:
table_merge5.dtypes # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå
print(len(table_merge5[table_merge5['volume_of_sale'].isnull()]))

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
len(table_merge5) #‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏°‡∏µ‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏Ñ‡πà‡∏≠‡∏ô‡∏Ç‡πâ‡∏≤‡∏á‡πÄ‡∏¢‡∏≠‡∏∞ ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ó‡∏µ‡πà‡∏°‡∏µ

#### ‚á® fill Null with 0
‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢ 0 ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏ß‡πà‡∏≤‡∏ô‡πà‡∏≤‡∏à‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏£‡∏∞‡∏ö‡∏∏ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô ‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡∏Ç‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà

In [ ]:
table_merge5 = table_merge5.fillna(0) #‡πÄ‡∏ï‡∏¥‡∏°‡∏ó‡∏∏‡∏Å‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á ‡πÄ‡∏õ‡πá‡∏ô 0

In [ ]:
table_merge5.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

In [ ]:
table_merge5

##  6] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge5 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_volume_listing_rent_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
table_merge5.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

In [ ]:
opendata_volume_listing_rent_clean.columns #‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á   // ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_volume_listing_rent_clean ‡πÅ‡∏ï‡∏Å‡∏ï‡πà‡∏≤‡∏á‡∏à‡∏≤‡∏Å table_merge5 ‡∏ó‡∏±‡πâ‡∏á‡∏ó‡∏µ‡πà‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô

In [ ]:
#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ columns ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_volume_listing_rent_clean ‡πÉ‡∏´‡πâ‡∏°‡∏µ‡∏ä‡∏∑‡πà‡πà‡∏≠‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ö‡∏ä‡∏∑‡πà‡∏≠ ‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge5 ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÑ‡∏°‡πà‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á
opendata_volume_listing_rent_clean.rename(columns={'listing_province_name_en': 'province_name_en', 'listing_district_name_en': 'district_name_en','project_propertytype_name_en':'propertytype_name_en'}, inplace=True)
opendata_volume_listing_rent_clean.head(3)

In [ ]:
table_merge5.province_name_en.unique() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge5

In [ ]:
opendata_volume_listing_rent_clean.province_name_en.unique()  # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_volume_listing_rent_clean ‡∏ã‡∏∂‡πà‡∏á‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á 2 ‡∏ï‡∏≤‡∏£‡∏≤‡∏á ‡∏°‡∏µ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ó‡∏µ‡πà‡∏ï‡πà‡∏≤‡∏á‡∏Å‡∏±‡∏ô‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÑ‡∏°‡πà‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏£‡∏ß‡∏°‡∏Å‡∏±‡∏ô‡πÑ‡∏î‡πâ ‡∏ñ‡∏∂‡∏á‡πÄ‡πÄ‡∏°‡πâ‡∏ß‡πà‡∏≤‡∏à‡∏∞‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ô

In [ ]:
#‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á  opendata_volume_listing_rent_clean ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_name_en ‡πÉ‡∏´‡πâ‡∏°‡∏µ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡∏±‡∏ô‡∏Å‡∏±‡∏ö‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge5 ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå province_name_en 
opendata_volume_listing_rent_clean.loc[opendata_volume_listing_rent_clean['province_name_en'] == 'SAMUT PRAKAN','province_name_en'] ='Samut Prakan'
opendata_volume_listing_rent_clean.loc[opendata_volume_listing_rent_clean['province_name_en'] == 'BANGKOK','province_name_en'] ='Bangkok'
opendata_volume_listing_rent_clean.loc[opendata_volume_listing_rent_clean['province_name_en'] == 'PATHUM THANI','province_name_en'] ='Pathum Thani'
opendata_volume_listing_rent_clean.loc[opendata_volume_listing_rent_clean['province_name_en'] == 'NONTHABURI','province_name_en'] ='Nonthaburi'
opendata_volume_listing_rent_clean.loc[opendata_volume_listing_rent_clean['province_name_en'] == 'NAKHON PATHOM','province_name_en'] ='Nakhon Pathom'

In [ ]:
#check ‡∏ß‡πà‡∏≤‡∏°‡∏µ ‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î/‡πÄ‡∏Ç‡∏ï/‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô‡πÄ‡∏¢‡∏≠‡∏∞‡∏°‡∏±‡πâ‡∏¢
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á key ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ  'province_name_en','district_name_en','propertytype_name_en' // ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ key ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÉ‡∏´‡πâ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡πÑ‡∏î‡πâ‡∏´‡∏•‡∏≤‡∏¢‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö
opendata_volume_listing_rent_clean[(opendata_volume_listing_rent_clean['province_name_en']=='Samut Prakan') & (opendata_volume_listing_rent_clean['district_name_en']=='BANG PHLI')& (opendata_volume_listing_rent_clean['propertytype_name_en']=='Townhome')].head(20)

In [ ]:
# ‡∏ó‡∏≥‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏•‡πà‡∏∏‡∏°‡πÇ‡∏î‡∏¢ 'province_name_en','district_name_en','propertytype_name_en' ‡πÅ‡∏•‡πâ‡∏ß‡∏´‡∏≤‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏Ç‡∏≠‡∏á  volume_of_rental  // ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ó‡∏µ‡πà‡∏à‡∏∞‡πÉ‡∏´‡πâ key  ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡πÉ‡∏ä‡πâ‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á ‡∏°‡∏µ‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏≠‡∏Å‡∏•‡∏±‡∏Å‡∏©‡∏ì‡πå‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏•‡∏î‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
opendata_volume_listing_rent_clean = opendata_volume_listing_rent_clean.groupby(['province_name_en','district_name_en','propertytype_name_en'])[['volume_of_rental']].sum()
opendata_volume_listing_rent_clean = opendata_volume_listing_rent_clean.reset_index()
opendata_volume_listing_rent_clean

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡∏¢‡∏±‡∏á‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ã‡πâ‡∏≥‡∏ã‡πâ‡∏≠‡∏ô‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏¢‡∏π‡πà‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà //  ‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡πÄ‡πÄ‡∏ï‡πà‡∏•‡∏∞‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î /‡πÄ‡∏Ç‡∏ï / ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÉ‡∏î‡πÜ ‡∏à‡∏∞‡πÉ‡∏´‡πâ‡∏Ñ‡πà‡∏≤‡πÄ‡πÄ‡∏Ñ‡πà‡∏Ñ‡πà‡∏≤‡πÄ‡∏î‡∏µ‡∏¢‡∏ß
opendata_volume_listing_rent_clean .head(20)

In [ ]:
# ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á   // 'province_name_en', 'district_name_en','propertytype_name_en' ‡πÉ‡∏ä‡πâ 3  key ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô‡∏Å‡∏£‡∏ì‡∏µ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£ ‡πÅ‡∏•‡πâ‡∏ß‡∏°‡∏±‡∏ô‡∏°‡∏µ‡πÇ‡∏≠‡∏Å‡∏≤‡∏™‡∏ó‡∏µ‡πà‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î/‡πÄ‡∏Ç‡∏ï ‡∏à‡∏∞‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô ‡πÄ‡∏•‡∏¢‡πÄ‡∏≠‡∏≤‡∏°‡∏≤ 3 key
table_merge6 = table_merge5.merge(opendata_volume_listing_rent_clean, how ='left', left_on=['province_name_en', 'district_name_en', 'propertytype_name_en'], right_on=['province_name_en', 'district_name_en', 'propertytype_name_en']) 
print(table_merge6.shape)

#### Missing/Null Checking
 ‡∏î‡∏π‡∏Ñ‡πà‡∏≤ missing  F = ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢  T = ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

In [ ]:
table_merge6.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢

### Check data type

In [ ]:
table_merge6.dtypes # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå
print(len(table_merge6[table_merge6['volume_of_rental'].isnull()]))

In [ ]:
#‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
len(table_merge6) #‡∏à‡∏∞‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤ ‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏°‡∏µ‡∏™‡∏±‡∏î‡∏™‡πà‡∏ß‡∏ô‡∏Ñ‡πà‡∏≠‡∏ô‡∏Ç‡πâ‡∏≤‡∏á‡πÄ‡∏¢‡∏≠‡∏∞ ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ó‡∏µ‡πà‡∏°‡∏µ

#### ‚á® fill Null with 0
‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢ 0 ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏ß‡πà‡∏≤‡∏ô‡πà‡∏≤‡∏à‡∏∞‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏£‡∏∞‡∏ö‡∏∏ 	‡∏à‡∏≥‡∏ô‡∏ß‡∏ô ‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡πÄ‡∏ä‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà

In [ ]:
table_merge6 = table_merge6.fillna(0) #‡πÄ‡∏ï‡∏¥‡∏°‡∏ó‡∏∏‡∏Å‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á ‡πÄ‡∏õ‡πá‡∏ô 0

In [ ]:
table_merge6.isnull().any() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ñ‡πà‡∏≤‡∏™‡∏π‡∏ç‡∏´‡∏≤‡∏¢‡∏≠‡∏µ‡∏Å‡∏£‡∏≠‡∏ö

In [ ]:
table_merge6

In [ ]:
table_merge6.province_name_en.unique() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏ó‡∏µ‡πà‡∏°‡∏µ‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge6

In [ ]:
#‡∏≠‡∏¢‡∏≤‡∏Å‡πÑ‡∏î‡πâ‡πÅ‡∏Ñ‡πà‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏Ø‡πÅ‡∏•‡∏∞‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•
table_merge6 = table_merge6[(table_merge6['province_name_en']=='Samut Prakan') | (table_merge6['province_name_en']=='Bangkok') | (table_merge6['province_name_en']=='Nonthaburi') | (table_merge6['province_name_en']=='Pathum Thani') | (table_merge6['province_name_en']=='Nakhon Pathom')]
table_merge6.shape

In [ ]:
table_merge6.province_name_en.unique() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î

In [ ]:
table_merge6.propertytype_name_en.unique() #‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ô ‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge6

# üîósave data

In [ ]:
#table_merge6.to_csv('Residental_Project_clean.csv', index=False)

In [ ]:
Residental_Project_clean = pd.read_csv('Residental_Project_clean.csv')
print(Residental_Project_clean.shape) # ‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏Å‡∏µ‡πà‡∏ï‡∏±‡∏ß
Residental_Project_clean.head(3)

# üîóLink of Dashboard Project
https://datastudio.google.com/reporting/1ca4ccd0-489b-4232-b40f-02a813d8a443

# üîóLink of Presentation Project

https://drive.google.com/file/d/1SIVZBSFtloxq-tZSYbItJ6fjZdOZGX-q/view?usp=share_link